#top-bar{
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 1em;
  max-width: 740px;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
}

#title{
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 2.5em;
}

#back{
  display: inline;
  font-size: 1em;
  margin: auto;
}

#main{
  margin: auto;
  max-width: 740px;
  box-sizing: border-box;
  padding: 15px;
  /* background: rgb(194, 194, 194); */
  border-radius: 0.5em;
}

#main>h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}

#main>p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
}

.code-block{
  display: block;
  /* background: #F0F0F0; */
  background-color: #fafafa;
  /* font-size: 1.2em; */
  border-color: rgba(124, 124, 124, 0.4);
  border-style: solid;
  border-width: 1px;;
  border-radius: 0.5em;
  padding-top: 0.6em;
}

/* font-family: 'Courier', Courier, monospace; */
.python{ border-radius: 0.5em; }
.csharp{ border-radius: 0.5em; }
.haskell{ border-radius: 0.5em;}


/* Code blocks */
pre > code {
  /* position: relative; */
  /* top: 10px; */
  /* margin-bottom: -10px; */
  /* padding-top: 10px; */
  font-family: 'Courier', Courier, monospace;
  /* font-size: 1em; */


  /* display: block;
  background: #F0F0F0;
  border-color: rgba(124, 124, 124, 0.4);
  border-style: solid;
  border-width: 1px;;
  border-radius: 0.5em; */
}

/* .code{
  background: rgb(184, 184, 184);
  border-radius: 0.2em;
  font-size: 1em;
  padding: 0.2em;
} */

/* Inline code */
p > code{
  /* font-size: 0.8em; */
  line-height: 0.7em;
  font-family: 'Courier', Courier, monospace;
  /* word-wrap: none; */
  white-space: nowrap;
  /* font-weight: 600; */
}
