#top-bar{
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 1em;
  /* width: 40%; */
  width: 50vw;
  /* background-color: rgb(177, 175, 175); */
  /* padding: 1em; */
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
}

#title{
  /* display: inline; */
  margin: auto;
  /* padding-left: 1em; */
  /* text-align: center; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 2.5em;
}

#back{
  display: inline;
  font-size: 1em;
  margin: auto;
}

#main{
  margin: auto;
  /* width: 40%; */
  width: 50vw;
  box-sizing: border-box;
  padding: 1em;
  /* background: rgb(194, 194, 194); */
  border-radius: 0.5em;
}

#main>h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}

#main>p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}



@media (max-width: 800px){
  #top-bar{
    /* width: 70%; */
    width: 70vw;
  }

  #main{
    /* width: 70%; */
    width: 70vw;
  }
}