#top-bar{
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 1em;
  max-width: calc(800px - (30px * 2));
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
}

#title{
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 2.5em;
}

#back{
  display: inline;
  font-size: 1em;
  margin: auto;
}

#main{
  margin: auto;
  max-width: calc(800px - (30px * 2));
  box-sizing: border-box;
  padding: 1em;
  /* background: rgb(194, 194, 194); */
  border-radius: 0.5em;
}

#main>h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}

#main>p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

.code-block{
  display: block;
  padding-bottom: 20px;

  background: #F0F0F0;
  font-size: 1.2em;
}

.code{
  background: rgb(184, 184, 184);
  border-radius: 0.2em;
  font-size: 1em;
  padding: 0.2em;
}

.inline{
  font-weight: 600;
}
