_cache
_site
.idea/
.jekyll-cache

public/
resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Executable may be added to repository
hugo.exe
hugo.darwin
hugo.linux

# Temporary lock file while building
/.hugo_build.lock

# Vale (vale.sh) styling
vale-styles/Microsoft
vale-styles/Google
vale-styles/write-good
vale-styles/Readability
vale-styles/.vale-config/