[submodule "themes/blowfish"]
    path = themes/blowfish
    url = git@github.com:cappe987/blowfish.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
