---
---

@import "minima";


pre, code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  // Default #eef
  // background-color: #eef;
  // background-color: rgb(255, 240, 243); 
  // background-color: rgb(240, 250, 255); // Light blue
  background-color: rgb(238, 246, 255);
}

p > code {
  white-space: nowrap;
}


.summary{
  font-size: 1.2em;
}

.details{
  background-color: rgb(243, 243, 243);
  border: rgb(197, 197, 197);
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0.8em;
  // display: inline;
  // padding: 5px;
}